<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - wCyber Leave Portal</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <div class="container mt-5">
        <main role="main" class="pb-3">
            @if (IsSectionDefined("actionbar"))
            {
                    <div class="text-right mb-3">@RenderSection("actionbar", false)</div>
            }
            @RenderBody()
        </main>
    </div>

    @*<footer class="footer-sm footer-md mt-5">
        <partial name="_Footer" />
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
