@page "{id}"
@model DetailsModel
@section sidebar{
}
<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <div>
            <label class="form-label">Name</label>
            <div>@Model.MyTitle.Name</div>
        </div>
    </div>
</div>
