@page "{id}"
@model EditModel
@section sidebar{
}
<form method="post">
    <partial name="Edit.Partial" model="Model.MyTitle" />
</form>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}