@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        @*<div class="text-center"><img src="~/logo.png" style="height:96px" /></div>
        <h3 class="mb-3 text-center"></h3>*@
        <section>
            <form method="post">
                <div class="card">
                        <h3 class="card-header">Password recovery</h3>
                    <div class="card-body">
                        <div class="mb-3 form-floating">
                            <input asp-for="Input.Email" class="form-control" />
                            <label asp-for="Input.Email">Enter your email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
