@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>Instructions have been sent to your email</h2>
<p>
    Please check your email to reset your password.
</p>
<a class="btn btn-outline-primary" asp-page="./Login"><i class="fa fa-arrow-left"></i> Go back to login page</a>
