@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

    <header>
        <div class="mb-4"><img src="~/images/ndasenda.png" style="height:36px" /></div>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>
