@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <div class="mb-4"><img src="~/images/ndasenda.png" style="height:36px" /></div>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>